<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>148570328767-2fen1kd923drvr8rvho1nfi457f35f8g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.148570328767-2fen1kd923drvr8rvho1nfi457f35f8g</string>
	<key>API_KEY</key>
	<string>AIzaSyDctpbsJq1C8GGhPdwOO0kVCUILq7sJiSA</string>
	<key>GCM_SENDER_ID</key>
	<string>148570328767</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ivanherashchenko.Chat</string>
	<key>PROJECT_ID</key>
	<string>chat-ec614</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-ec614.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:148570328767:ios:aa6c102e4e500a30a7400a</string>
</dict>
</plist>